<button class="theme-switcher" id="theme-switcher"></button>

<script>
  (function () {
    var themeSwitcher = document.getElementById('theme-switcher');

    function setThemeText() {
      var darkMode = document.documentElement.className === 'dark-mode';
      themeSwitcher.textContent = darkMode ? '🌙' : '☀️';
      var otherTheme = darkMode ? 'light' : 'dark';
      themeSwitcher.setAttribute('title', 'Switch to ' + otherTheme + ' theme');
    }

    setThemeText();

    themeSwitcher.addEventListener('click', function() {
      var darkMode = document.documentElement.className === 'dark-mode';
      document.documentElement.className = darkMode ? '' : 'dark-mode';
      setThemeText();
      window.localStorage.setItem('theme', darkMode ? 'light' : 'dark');
    });
  })()
</script>

<header class="page-header">
  <div class="tcs-title-box">
    <a class="tcs-title" href="/">
      <div class="tcs-title-text">The Crystal Ships</div>
    </a>
    <div class="tcs-title-box-background"></div>
  </div>

  <nav>
    <ul class="nav-list">
      <li{% if page.active_page == 'home' %} class="active" {% endif %}>
        <a href="/">Home</a>
      </li>
      <li{% if page.active_page == 'music' %} class="active" {% endif %}>
        <a href="/music">Music</a>
      </li>
      <li{% if page.active_page == 'video' %} class="active" {% endif %}>
        <a href="/video">Video</a>
      </li>
    </ul>
  </nav>
</header>
