<aside class="sidebar">
  <div class="box">
    <div class="box-image">
      <img src="/assets/images/tide-album-art.jpg">
    </div>
    <div class="box-content">
      <h3>Listen to the The Crystal Ships</h3>
      <ul class="spacer-top">
        <li>
          <a href="https://thecrystalships.bandcamp.com/album/the-tide" target="_blank">Bandcamp</a>
        </li>
        <li>
          <a href="https://open.spotify.com/album/3y3TJXarehh3qdQyh8EmMa" target="_blank">Spotify</a>
        </li>
        <li>
          <a href="https://music.apple.com/ca/album/the-tide/1491032961" target="_blank">Apple Music</a>
        </li>
        <li>
          <a href="https://play.google.com/store/music/album/The_Crystal_Ships_The_Tide?id=B6yplxypvoh43xmb2bl3p4u3qum" target="_blank">Google Play</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
