.page-layout {
  &.default {
    @include content;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    .main,
    .sidebar {
      padding: 1rem;
      width: 100%;
    }
    @media screen and (min-width: $breakpoint-md) {
      flex-wrap: nowrap;

      .main {
        flex-grow: 1;
      }

      .sidebar {
        flex: 0 0 325px;
        max-width: 325px;
      }
    }
  }
}
