.track-listing {
  @include box(0, 0.25rem);
}

.track-listing summary {
  font-weight: bold;
  cursor: pointer;
}

.track-listing .lyrics {
  border-top: 1px solid $border-color;
  border-top-color: var(--border-color);
  background-color: white;
  background: var(--lyrics-bg);
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.track-listing .lyrics p + p {
  margin-top: 1rem;
}

.track-listing summary,
.track-listing .lyrics {
  padding: 0.5rem;
}
