html {
  font-size: 16px;
  @media screen and (min-width: $breakpoint-sm) {
    font-size: 17px;
  }
  @media screen and (min-width: $breakpoint-md) {
    font-size: 18px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 19px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    font-size: 20px;
  }
}

body {
  font-family: $body-font;
  font-size: 1rem;
  color: $text-color;
  line-height: 1.35;
  background-image: linear-gradient(to top, #f8f9fa 0%, white 100%);
}

article {
  & > * + h1,
  & > * + h2,
  & > * + h3,
  & > * + h4,
  & > * + h5,
  & > * + h6 {
    margin-top: 2rem;
  }

  & > h1 + *,
  & > h2 + *,
  & > h3 + *,
  & > h4 + *,
  & > h5 + *,
  & > h6 + * {
    margin-top: 0.375rem;
  }
}

.sidebar,
article,
footer {
  // Links
  a {
    color: $main-color;
    text-decoration: none;
    border-radius: 2px;
  }

  a:hover {
    background-color: rgba(5, 142, 217, 0.15);
  }
}

// Blockquotes
blockquote {
  @include box(0.75rem);
  margin-bottom: 1.5rem;

  & > * + * {
    margin-top: 1em;
  }

  & > footer {
    color: #777;
    font-size: 80%;
    &::before {
      content: "— ";
    }
  }

  & > p:first-child::before {
    content: "“";
    margin-left: -0.5em;
  }
  & > p:last-of-type::after {
    content: "”";
  }
}

article img {
  @include box;
}
