// Colours
$main-color: #058ed9;
$text-color: #333;
$background-gradient: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Fonts
$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-font: "Gentium Book Basic", $system-fonts;
$headings-font: inherit;
