.theme-switcher {
  @include box;
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.theme-switcher:hover {
  cursor: pointer;
}
