<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <script>
    ;(function () {
      var theme = window.localStorage.getItem('theme');

      if (!theme) {
        var prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        theme = prefersDark ? 'dark' : 'light';
      }

      if (theme === 'dark') {
        document.documentElement.className = 'dark-mode';
      }
    })();
  </script>
  {% include header.html %}

  <div class="page-layout default">
    <main class="main">
      <article class="article">
        {{ content }}
      </article>
    </main>

    {% unless page.hide_sidebar %}
      {% include sidebar.html %}
    {% endunless %}
  </div>

  {% include footer.html %}
</body>
</html>
